Source: pykwalify
Maintainer: Cris van Pelt <cris@melkfl.es>
Section: misc
Priority: optional
Standards-Version: 4.1.4
X-Python3-Version: >= 3.4
Build-Depends: debhelper (>= 10), python3 (>= 3.3.2-2~), dh-python (>= 3), python3-testfixtures, python3-docopt, python3-pytest


Package: python3-pykwalify
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}
Description: YAML/JSON validation library
 This framework is a port with alot added functionality of the java version
 of the framework kwalify.
